<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deployment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Thumper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>827CE5C11347B49D00170589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>827CE5CA1347B49D00170589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8296C90E13775A6500DFAC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82AE36C9135B8DED007C39A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82FF087213799BB5007DD06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
